body{
    background-color: rgb(31, 32, 32);
}

// a{
//     text-decoration: none;
//     color: rgb(212, 142, 62);
// }
// a:hover{
//     color: rgb(107, 74, 43);
// }
button:hover{
    cursor: pointer;
}

button{
    outline: none;
}
div, span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(141, 141, 141);
    font-size: .875rem;
}
