body{
    background-color: rgb(32, 32, 32);
    --main-color: rgb(54, 93, 109);
    --main-hover: rgb(49, 66, 77);
    --secondary-color: rgb(54, 109, 88);
    --secondary-hover: rgb(47, 70, 61);
    --button-text: rgb(219, 212, 212);
    
}

// a{
//     text-decoration: none;
//     color: rgb(212, 142, 62);
// }
// a:hover{
//     color: rgb(107, 74, 43);
// }
button:hover{
    cursor: pointer;
}

button{
    outline: none;
}
.player{
    outline: none;

}
textarea{
    outline: none;
}
div, span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 225, 235);
    font-size: .875rem;
}

