body{
    background-color: rgb(26, 26, 26);
    --main-color: rgb(43, 98, 116);;
    --main-hover: rgb(45, 54, 59);
}

// a{
//     text-decoration: none;
//     color: rgb(212, 142, 62);
// }
// a:hover{
//     color: rgb(107, 74, 43);
// }
button:hover{
    cursor: pointer;
}

button{
    outline: none;
}
div, span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 222, 226);
    font-size: .875rem;
}

